.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.root h1 {
    color: black;
    font-weight: 900;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0;
    list-style: none;
}

.cards-container li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
    padding: 15px;
    border-radius: 12px;
    position: relative;
}

.cards-container li strong {
    display: block;
    margin-bottom: 16px;
    color: black;
    font-weight: 900;
    font-size: 18px;
}

.cards-container li p+strong {
    margin-top: 32px;
}

.cards-container li p {
    color: #000000;
    line-height: 21px;
    font-size: 14px;
}