.btn {
    min-width: fit-content;
    max-width: 8vw;
    align-self: flex-end;
}

.btn-submit {
    font-weight: 700;
    font-family: Poppins, 'sans-serif';
    color: white;
    background-color: green;
}

.btn-cancel {
    font-weight: 500;
    font-family: Poppins, 'sans-serif';
    color: white;
    background-color: red;
}